<div class="auth">
    <h2>Reset password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="password">New password</label>
            <input type="password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControl.Password.errors }" />
            <div *ngIf="formControl.Password.errors && submitted " class="invalid-feedback">
                <div *ngIf="formControl.Password.errors.required">Password is required!</div>
                <div *ngIf="formControl.Password.errors.invalidPassword">
                    <p>Password must:</p>
                    <ul>
                        <li>include at least one upper case letter</li>
                        <li>include at least one lower case letter</li>
                        <li>include at least one Arabic numerals</li>
                        <li>not include any non alphanumeric characters</li>
                        <li>be 8 characters</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted  && formControl.ConfirmPassword.errors }" />
            <div *ngIf="formControl.ConfirmPassword.errors && submitted " class="invalid-feedback">
                <div *ngIf="formControl.ConfirmPassword.errors.required">Confirm password is required!</div>
                <div *ngIf="formControl.ConfirmPassword.errors.mustMatch">Password must match!</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Reset
            </button>
        </div>
    </form>
    </div>