.photo{
    position: relative;
}
.label{
    position: absolute;
    height: auto;
    width: 20%;
    margin-bottom: 150px;
    margin-left: 30px;
    top: 10px;
    left: 260px;
    /* top: 20px; */
    
}